<div class="centered-form" >
  <div class="container mt-4 welcome-container" *ngIf="authService.getIsLoggedIn()">
    <h2>Bienvenido, {{ authService.getName() }}</h2>
  </div>

  <div class="container mt-4 sales-table">
    <h3>Ventas:</h3>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Número de Factura</th>
          <th>Nombre del Producto</th>
          <th>Tipo de factura</th>
          <th>Cantidad</th>
          <th>Costo Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sale of sales">
          <td>{{ sale.invoiceNumber }}</td>
          <td>{{ sale.productName }}</td>
          <td>{{ sale.type }}</td>
          <td>{{ sale.quantity }}</td>
          <td>{{ sale.productPrice }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
