/* Estilo del contenedor principal */
.wrapper {
  display: flex;
  width: 100%;
}

/* Estilo de la barra lateral */
#sidebar {
  width: 250px;
  height: 90%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #212529;
  color: #fff;
  transition: all 0.3s;
  z-index: 10;
}

#sidebar.active {
  width: 70px;
  transition: all 0.3s;
}

/* Estilo del contenido principal */
#content {
  margin: auto;
  transition: all 0.3s;
}

#sidebar.active ~ #content {
  margin: auto;
}

.btn-circle.btn-xl {
  width: auto;
  border-radius: 50%;
  text-align: center;
  border-color: darkblue;
  color: white;
  background-color: #5e6a75;
}

.btn-no-action {
  border-style: outset !important;
}

.btn-action {
  border-style: inset !important;
}

.border-light {
  --bs-border-opacity: 0.2 !important;
}
