.container {
  margin-top: 3rem;
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  height: 650px;
  width: 500px;
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
  cursor: pointer;
}
.border {
  height: 370px;
  width: 100%;
  border: 2px solid black;
  background-color: #211eb5c7;
  border: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.border:hover i {
  position: absolute;
  top: 10px;
}
.border i {
  position: absolute;
  top: -100px;
  right: 10px;
  font-size: 25px;
  color: white;
  transition: all 0.5s;
}
.border .i-red {
  color: red;
}
.border img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  transition: all 2s;
}

.central-div {
  display: flex;
  justify-content: space-between;
  padding: 20px 10px 0px 10px;
}
.central-div .fa-bookmark {
  font-size: 30px;
}
.central-div .fa-bookmark-red {
  color: red;
  border: none;
}
.price p {
  color: #54627b;
  padding: 0px 10px;
}

.quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}

.category {
  display: inline-block;
  padding: 0.25em 0.5em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: white;
  background-color: #0000e0a2;
}

.buttons {
  margin: 0;
  padding: 0;
  display: flex;
  width: inherit;
  justify-content: center;
  align-items: center;
}

.input-number {
  width: 10vw;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.quantity-button {
  position: relative;
  outline: 0;
  background-color: blue;
  color: #fff;
  border: none;
  height: 48px;
  width: 90%;
  padding: 10px;
  border-radius: 10px;
  line-height: 0px;
  overflow: hidden;
  cursor: pointer;
}
.quantity-button:focus {
  outline: none !important;
}
.quantity-button .bi-basket3 {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: -30%;
  font-size: 1.8em;
  transform: translate(-50%, -50%);
}
.quantity-button .bi-square-fill {
  position: absolute;
  z-index: 1;
  top: -20%;
  left: 50%;
  font-size: 0.8em;
  transform: translate(-115%, -40%);
}
.quantity-button span {
  position: absolute;
  left: 50%;
  top: 50%;
  color: #fff;
  transform: translate(-50%, -50%);
}
.quantity-button span.added-quantity {
  opacity: 0;
}
.quantity-button.quantityClicked .bi-basket3 {
  animation: quantity 2s ease-in forwards;
}
.quantity-button.quantityClicked .bi-square-fill {
  animation: box-quantity 2s ease-in forwards;
}
.quantity-button.quantityClicked span.add-to-quantity {
  animation: addquantity 2s ease-in forwards;
}
.quantity-button.quantityClicked span.added-quantity {
  animation: added-quantity 2s ease-in forwards;
}
@keyframes quantity {
  0% {
    left: -10%;
  }
  40%,
  60% {
    left: 50%;
  }
  100% {
    left: 110%;
  }
}
@keyframes box-quantity {
  0%,
  40% {
    top: -20%;
  }
  60% {
    top: 40%;
    left: 53%;
  }
  100% {
    top: 45%;
    left: 112%;
  }
}
@keyframes addquantity {
  0%,
  30% {
    opacity: 1;
  }
  30%,
  100% {
    opacity: 0;
  }
}
@keyframes added-quantity {
  0%,
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.quantityClicked {
  background-color: #524fc5;
}
