<div class="centered-form">
  <div class="container mt-4 custom-form">
  <h2>Registrar Sucursal</h2>
  <form [formGroup]="branchForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="name" class="form-label">Nombre de la Sucursal:</label>
      <input type="text" id="name" formControlName="name" class="form-control" required>
      <div *ngIf="branchForm.get('name')?.hasError('required')" class="text-danger">
        Nombre de la Sucursal es requerido.
      </div>
    </div>
    <div class="mb-3">
      <label for="city" class="form-label">Ciudad:</label>
      <input type="text" id="city" formControlName="city" class="form-control" required>
      <div *ngIf="branchForm.get('city')?.hasError('required')" class="text-danger">
        Ciudad es requerida.
      </div>
    </div>
    <div class="mb-3">
      <label for="country" class="form-label">País:</label>
      <input type="text" id="country" formControlName="country" class="form-control" required>
      <div *ngIf="branchForm.get('country')?.hasError('required')" class="text-danger">
        País es requerido.
      </div>
    </div>
    <button type="submit" class="custom-button">Registrar Sucursal</button>
  </form>
</div>
</div>
