.table-wrapper {
  width: auto;
  margin: auto;
  background: #fff;
  padding: 20px 30px 5px;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.25);
}

.table-title .btn {
  min-width: 50px;
  border-radius: 2px;
  border: none;
  padding: 6px 12px;
  font-size: 95%;
  outline: none !important;
}

table.table tr th,
table.table tr td {
  border-color: #e9e9e9;
  padding: 12px 15px;
  vertical-align: middle;
  width: auto;
}

table.table-striped tbody tr:nth-of-type(odd) {
  background-color: #fcfcfc;
}
table.table-striped.table-hover tbody tr:hover {
  background: #f5f5f5;
}
table.table td a {
  color: #2196f3;
}
table.table td .btn.manage {
  padding: 2px 10px;
  background: #37bc9b;
  color: #fff;
  border-radius: 2px;
}
table.table td .btn.manage:hover {
  background: #2e9c81;
}

td > a {
  text-decoration: solid;
  text-decoration-color: #184dca;
  color: #184dca;
}

.herramientas-de-mano {
  background-color: #e74c3c;
}

.herramientas-electricas {
  background-color: #f1c40f;
}

.cerrajeria {
  background-color: #3498db;
}

.herrajes-de-construccion {
  background-color: #e67e22;
}

.pintura-y-accesorios {
  background-color: #9b59b6;
}

.jardineria-y-exteriores {
  background-color: #2ecc71;
}

.equipo-de-seguridad-y-proteccion {
  background-color: #ff00ae;
}

.suministros-de-fontaneria {
  background-color: #d400ff;
}

.material-electrico {
  background-color: #0fd7f1;
}

.accesorios-para-el-hogar {
  background-color: #b0463b;
}

.otros {
  background-color: #95a5a6;
}

.category {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: white;
}

.button-quantity {
  margin: 0 auto;
  text-align: center;
}

.value-button {
  display: inline-block;
  border: 3px solid #ddd;
  margin: 0px;
  width: 30px;
  text-align: center;
  vertical-align: middle;
  padding: 4px 0;
  background: #eee;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.value-button:hover {
  cursor: pointer;
}

.button-quantity #decrease {
  border-radius: 4px 0 0 4px;
  border-color: #0000e0;
  z-index: 1;
}

.button-quantity #increase {
  border-radius: 0 4px 4px 0;
  border-color: #0000e0;
  z-index: 1;
}

.button-quantity #input-wrap {
  margin: 0px;
  padding: 0px;
}

input#number {
  text-align: center;
  border: none;
  width: 40px;
  height: 37px;
  background-color: transparent;
  padding-bottom: 5px;
  margin: 0px;
}

input#number:focus-visible {
  outline: none;
}

.siz::before {
  box-sizing: content-box !important;
}

.siz::after {
  box-sizing: content-box !important;
}

.siz {
  height: 22px !important;
  box-sizing: content-box !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0 !important;
  padding: 0 !important;
}

#content {
  margin-left: 5000px !important;
  transition: all 0.3s;
}

#sidebar.active ~ #content {
  margin-left: 900px !important;
}

#main {
  width: 80vw;
  margin-left: 50px !important;
  margin-top: 30px !important;
}

.my-pagination ::ng-deep .ngx-pagination .current {
  background: #0a58ca;
}

.btn {
  position: relative;
  overflow: hidden;
}

.cart-animation {
  display: inline-block;
  transition: transform 2s;
}

.cart-animation.active {
  animation: moveCart 2s linear;
}

@keyframes moveCart {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
.cart-container {
  position: fixed;
  top: 0;
  right: 0;
  background-color: white;
  z-index: 1000;
  padding: 10px;
  border: 1px solid #ccc;
  max-height: 80vh;
  overflow-y: auto;
}

.close-icon {
  cursor: pointer;
  font-size: 20px;
  margin-left: 10px;
  color: #0000e0;
}

.close-icon:hover {
  color: #0a58ca;
}

.buttons {
  margin: 0;
  padding: 0;
  display: flex;
  width: inherit;
  justify-content: center;
  align-items: center;
}
.cart-button {
  position: relative;
  outline: 0;
  background-color: blue;
  color: #fff;
  border: none;
  height: 48px;
  width: 70%;
  padding: 10px;
  border-radius: 10px;
  line-height: 0px;
  overflow: hidden;
  cursor: pointer;
}
.cart-button:focus {
  outline: none !important;
}
.cart-button .bi-cart-fill {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: -20%;
  font-size: 1.8em;
  transform: translate(-50%, -50%);
}
.cart-button .bi-square-fill {
  position: absolute;
  z-index: 1;
  top: -20%;
  left: 50%;
  font-size: 0.8em;
  transform: translate(-110%, -50%);
}
.cart-button span {
  position: absolute;
  left: 50%;
  top: 50%;
  color: #fff;
  transform: translate(-50%, -50%);
}
.cart-button span.added {
  opacity: 0;
}
.cart-button.clicked .bi-cart-fill {
  animation: cart 2s ease-in forwards;
}
.cart-button.clicked .bi-square-fill {
  animation: box 2s ease-in forwards;
}
.cart-button.clicked span.add-to-cart {
  animation: addcart 2s ease-in forwards;
}
.cart-button.clicked span.added {
  animation: added 2s ease-in forwards;
}

.sale-animation {
  display: inline-block;
  transition: transform 2s;
}

.sale-animation.active {
  animation: moveCart 2s linear;
}

@keyframes cart {
  0% {
    left: -10%;
  }
  40%,
  60% {
    left: 50%;
  }
  100% {
    left: 110%;
  }
}
@keyframes box {
  0%,
  40% {
    top: -20%;
  }
  60% {
    top: 36%;
    left: 53%;
  }
  100% {
    top: 40%;
    left: 112%;
  }
}
@keyframes addcart {
  0%,
  30% {
    opacity: 1;
  }
  30%,
  100% {
    opacity: 0;
  }
}
@keyframes added {
  0%,
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.clicked {
  background-color: #5e6a75ed;
}

.sale-button {
  position: relative;
  outline: 0;
  background-color: blue;
  color: #fff;
  border: none;
  height: 48px;
  width: 90%;
  padding: 10px;
  border-radius: 10px;
  line-height: 0px;
  overflow: hidden;
  cursor: pointer;
}
.sale-button:focus {
  outline: none !important;
}
.sale-button .bi-truck-flatbed {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: -30%;
  font-size: 1.8em;
  transform: translate(-50%, -50%);
}
.sale-button .bi-square-fill {
  position: absolute;
  z-index: 1;
  top: -20%;
  left: 50%;
  font-size: 0.8em;
  transform: translate(-115%, -40%);
}
.sale-button span {
  position: absolute;
  left: 50%;
  top: 50%;
  color: #fff;
  transform: translate(-50%, -50%);
}
.sale-button span.added-sale {
  opacity: 0;
}
.sale-button.saleClicked .bi-truck-flatbed {
  animation: sale 2s ease-in forwards;
}
.sale-button.saleClicked .bi-square-fill {
  animation: box-sale 2s ease-in forwards;
}
.sale-button.saleClicked span.add-to-sale {
  animation: addsale 2s ease-in forwards;
}
.sale-button.saleClicked span.added-sale {
  animation: added-sale 2s ease-in forwards;
}
@keyframes sale {
  0% {
    left: -10%;
  }
  40%,
  60% {
    left: 50%;
  }
  100% {
    left: 110%;
  }
}
@keyframes box-sale {
  0%,
  40% {
    top: -20%;
  }
  60% {
    top: 36%;
    left: 53%;
  }
  100% {
    top: 40%;
    left: 112%;
  }
}
@keyframes addsale {
  0%,
  30% {
    opacity: 1;
  }
  30%,
  100% {
    opacity: 0;
  }
}
@keyframes added-sale {
  0%,
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.saleClicked {
  background-color: #2ecc71;
}

/* Contenedor de producto */
body {
  background: #f5f1ee;
  font-family: "Roboto", sans-serif;
}

.card {
  width: 250px;
  border-radius: 10px;
}

.card-img-top {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.product-image {
  position: relative;
}

.product-name-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  color: white; /* Color del texto */
  padding: 10px;
  border-top-left-radius: 10px;
}

.product-name-overlay h4 {
  margin: 0;
}

span.text-muted {
  font-size: 12px;
}

small.text-muted {
  font-size: 8px;
}

h5.mb-0 {
  font-size: 1rem;
}

small.ghj {
  font-size: 9px;
}

.mid {
  background: #ecedf1;
}

h6.ml-1 {
  font-size: 13px;
}

.btn-danger {
  color: #ffcbd2;
}

.btn-danger:focus {
  box-shadow: none;
}

@media screen and (max-width: 600px) {
  .col-sm-4 {
    margin-bottom: 50px;
  }
}
