.button-container {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    background: hsl(227, 10%, 10%);
    padding: 20px; /* Espacio en la parte superior e inferior */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 20px; /* Espacio entre el contenido superior */
  }
  
  .custom-button {
    background: rgba(37, 36, 36, 0.945);
    border: 2px solid #ffa260;
    color: #ffa260;
    padding: 1em 2em;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    position: relative;
    transition: transform 0.3s, box-shadow 0.3s, border-radius 0.3s;
    border-radius: 0.5em;
  }
  
  .custom-button:hover,
  .custom-button:focus {
    transform: translateY(-0.25em);
    box-shadow: 0 0 0 0.3em rgba(255, 213, 96, 0.925);
    border-radius: 1em;
  }
  
  .custom-button:active {
    transform: none;
    border-radius: 0.5em;
  }
  .centered-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: hsl(227, 10%, 10%);
  }