<div class="centered-form">
  <div *ngIf="showAlert" class="alert alert-success custom-button">
    {{ alertMessage }}
  </div>
  <h1 class="welcome-title">Bienvenido al Control de Stock</h1>
  <div class="custom-form">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="email" class="form-label">Correo:</label>
        <input type="text" id="email" formControlName="email" class="form-control" required>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Contraseña:</label>
        <input type="password" id="password" formControlName="password" class="form-control" required>
      </div>
      <div class="button-container">
        <button type="submit" class="custom-button">Iniciar Sesión</button>
      </div>
    </form>
  </div>
</div>
