<div class="centered-form">
  <div class="container mt-4">
    <h2 class="welcome-title">Formulario de Envío</h2>
    <div class="row">
      <div class="col">
        <button *ngIf="selectedRole === 'Admin' || selectedRole === 'SuperAdmin'" type="button" class="custom-button" (click)="toggleModal('customer-sale')">Enviar a Customer</button>
      </div>
      <div class="col">
        <button type="button" class="custom-button" (click)="toggleModal('seller-sale')">Enviar a Seller</button>
      </div>
      <div class="col">
        <button *ngIf="selectedRole === 'Admin' || selectedRole === 'SuperAdmin'" type="button" class="custom-button" (click)="toggleModal('purchase')">Agregar inventario</button>
      </div>
      <div class="col">
        <button *ngIf="selectedRole === 'Admin' || selectedRole === 'SuperAdmin'" type="button" class="custom-button" (click)="toggleModal('register')">Registrar Producto</button>
      </div>
    </div>
  </div>

  <div *ngIf="selectedProductsList.length > 0" class="custom-table">
    <h4 class="mb-3">Productos Seleccionados:</h4>
    <table class="table table-bordered table-sm">
      <thead>
        <tr>
          <th class="small">Nombre</th>
          <th class="small">Precio</th>
          <th class="small">Cantidad a Comprar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let selectedProduct of selectedProductsList; let i = index">
          <td class="small">{{ selectedProduct.name }}</td>
          <td class="small">{{ selectedProduct.price }}</td>
          <td class="small">
            <input type="number" [(ngModel)]="selectedProductsList[i].quantity"
              min="1" max="{{ selectedProduct.quantity }}" class="form-control form-control-sm">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div *ngIf="showAlert" class="alert alert-success custom-button">
    {{ alertMessage }}
  </div>
  
  <button *ngIf="selectedProductsList.length > 0" class="custom-button" [disabled]="selectedProductsList.length === 0" (click)="enviarSeleccion()">Enviar</button>

  <div class="container mt-4">
    <form *ngIf="endpoint !== 'register'" (ngSubmit)="onSubmit()" [formGroup]="productForm">
      <div class="mb-3">
        <label for="fileInput" class="form-label custom-file-label">Agregar Stock</label>
        <input type="file" id="fileInput" class="d-none" #fileInput (change)="onFileChange($event)">
      </div>
      
      <button  class="form-label custom-file-label" (click)="exportPDF()">Exportar a PDF</button>

      
      <h3 class="welcome-title">Productos Disponibles</h3>
      <table class="table table-bordered table-sm">
        <thead>
          <tr>
            <th>Nombre Producto</th>
            <th>Stock</th>
            <th>Precio</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products; let index = index" (click)="selectProduct(product)" style="cursor: pointer;">
            <td>{{ product.name }}</td>
            <td>{{ product.quantity }}</td>
            <td>{{ product.price }}</td>
          </tr>
        </tbody>
      </table>
    </form>

    <form *ngIf="endpoint === 'register'"  [formGroup]="registerForm">
      <h3 class="welcome-title">Registrar Producto</h3>
      <div class="mb-3">
        <label for="productName" class="form-label">Nombre del Producto:</label>
        <input type="text" id="productName" name="productName" formControlName="name" class="form-control" required>
        <div *ngIf="registerForm.get('name')?.hasError('required')" class="text-danger">
          Nombre del producto es requerido.
        </div>
      </div>

      <div class="mb-3">
        <label for="productDescription" class="form-label">Descripción del Producto:</label>
        <input type="text" id="productDescription" name="productDescription" formControlName="description" class="form-control" required>
        <div *ngIf="registerForm.get('description')?.hasError('required')" class="text-danger">
          Descripción del producto es requerida.
        </div>
      </div>

      <div class="mb-3">
        <label for="productPrice" class="form-label">Precio del Producto:</label>
        <input type="number" id="productPrice" name="productPrice" formControlName="price" class="form-control" required>
        <div *ngIf="registerForm.get('price')?.hasError('required')" class="text-danger">
          Precio del producto es requerido.
        </div>
      </div>

      <label for="productCategory" class="form-label">Categoría del Producto:</label>
      <select id="productCategory" name="productCategory" formControlName="category" class="form-control" required>
        <option value="hand tools">Hand Tools</option>
        <option value="power tools">Power Tools</option>
        <option value="locksmithing">Locksmithing</option>
        <option value="construction hardware">Construction Hardware</option>
        <option value="paint and accessories">Paint and Accessories</option>
        <option value="gardening and outdoors">Gardening and Outdoors</option>
        <option value="safety and protective equipment">Safety and Protective Equipment</option>
        <option value="plumbing supplies">Plumbing Supplies</option>
        <option value="electrical">Electrical</option>
        <option value="home fixtures">Home Fixtures</option>
      </select>
      <div *ngIf="registerForm.get('category')?.hasError('required')" class="text-danger">
        Categoría del producto es requerida.
      </div>

      <div class="mb-3">
        <button [disabled]="!registerForm.valid" (click)="onSubmit()" class="custom-button">Enviar (Registro de Producto)</button>
        <button type="button" class="custom-button custom-button-secondary" (click)="Modal = true">Cancelar</button>
      </div>
    </form>
  </div>
</div>
