<div class="container mt-4">
  <h2>Formulario de Envío</h2>
  <button
    type="button"
    class="btn btn-primary ms-4"
    (click)="toggleModal('register')"
  >
    Registrar Producto
  </button>
</div>

<div [class.d-none]="Modal" [class.d-block]="!Modal">
  <div class="container mt-4">
    <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
      <div class="mb-3">
        <label for="name" class="form-label">Nombre del Producto:</label>
        <input
          type="text"
          id="name"
          name="name"
          formControlName="name"
          class="form-control"
          required
        />
        <div
          *ngIf="registerForm.get('name')?.hasError('required')"
          class="text-danger"
        >
          Nombre del producto es requerido.
        </div>
      </div>
      <div class="mb-3">
        <label for="quantity" class="form-label"
          >Cantidad del producto a registrar:</label
        >
        <input
          type="number"
          id="quantity"
          name="quantity"
          formControlName="quantity"
          class="form-control"
          required
        />
        <div
          *ngIf="registerForm.get('quantity')?.hasError('required')"
          class="text-danger"
        >
          La cantidad es requerida.
        </div>
      </div>

      <div class="mb-3">
        <label for="branchId" class="form-label">Nombre de la sucursal:</label>

        <select
          id="branchId"
          name="branchId"
          formControlName="branchId"
          [(ngModel)]="selectedBranchId"
          class="form-control"
        >
          <option *ngFor="let branch of branchesList" [value]="branch.id">
            {{ branch.name }}
          </option>
        </select>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label"
          >Descripción del Producto:</label
        >
        <input
          type="text"
          id="description"
          name="description"
          formControlName="description"
          class="form-control"
          required
        />
        <div
          *ngIf="registerForm.get('description')?.hasError('required')"
          class="text-danger"
        >
          Descripción del producto es requerida.
        </div>
      </div>

      <div class="mb-3">
        <label for="price" class="form-label">Precio del Producto:</label>
        <input
          type="number"
          id="price"
          name="price"
          formControlName="price"
          class="form-control"
          required
        />
        <div
          *ngIf="registerForm.get('price')?.hasError('required')"
          class="text-danger"
        >
          Precio del producto es requerido.
        </div>
      </div>
      <label for="category" class="form-label">Categoría del Producto:</label>
      <select
        id="category"
        name="category"
        formControlName="category"
        class="form-control"
        required
      >
        <option value="Herramientas de Mano">Herramientas de Mano</option>
        <option value="Herramientas Eléctricas">Herramientas Eléctricas</option>
        <option value="Cerrajería">Cerrajería</option>
        <option value="Herrajes de Construcción">
          Herrajes de Construcción
        </option>
        <option value="Pintura y Accesorios">Pintura y Accesorios</option>
        <option value="Jardinería y Exteriores">Jardinería y Exteriores</option>
        <option value="Equipo de Seguridad y Protección">
          Equipo de Seguridad y Protección
        </option>
        <option value="Suministros de Fontanería">
          Suministros de Fontanería
        </option>
        <option value="Material Eléctrico">Material Eléctrico</option>
        <option value="Accesorios para el Hogar">
          Accesorios para el Hogar
        </option>
        <option value="Otros">Otros</option>
      </select>
      <div
        *ngIf="registerForm.get('category')?.hasError('required')"
        class="text-danger"
      >
        Categoría del producto es requerida.
      </div>
      <div class="mb-3">
        <button type="submit" class="btn btn-primary">Registrar</button>
        <button type="button" class="btn btn-secondary" (click)="Modal = true">
          Cancelar
        </button>
      </div>
    </form>
  </div>
</div>
